.full-width {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-card {
  margin: 20px;
  padding: 20px;
}
.mt-4 {
  margin-top: 1rem;
}.stat-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px;
}

.stat-card {
  flex: 1;
  min-width: 250px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card.total {
  background-color: #3f51b5;
}

.stat-card.active {
  background-color: #4caf50;
}

.stat-card.panne {
  background-color: #f44336;
}

.stat-icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.stat-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
}
